.title {
    color: white;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.dialog{

}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {

}
