.title {
    color: white;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr;

}

.dialogs__items{
    padding: 10px;
    background-color: #264653;
}
.dialogs__items.active {
    color: gold;
}

.messages_back{
    background-color: white;
}
