.nav{
    grid-area: nav;
    background-color: #061257;
    padding: 20px;
}
.item a{
    color: #ffffff;
    font-size: 18px;
    color: white;
    text-decoration: none;

}

.item a.activeLink{
    color: gold;
}